* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
}

.header {
  margin: 0 auto;
  width: 1440px;
  height: 700px;
  background: #014e56;
}

.header__nav {
  display: flex;
  width: 100%;
  height: 20%;
}

.header__nav--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.header__nav--list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 100%;
}

.header__nav--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.h__btn {
  background: #014e56;
  border: 2px solid #ffffff;
  border-radius: 24px;
  width: 153px;
  height: 48px;
}

.h__btn:hover .h__btn--ank {
  background-color: #ffffff;
  color: #002529;
}

.h__btn:hover {
  background-color: #ffffff;
}

.h__btn--ank {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.navlist__item {
  list-style: none;
}

.navlist__item--ank {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

.navlist__item--ank:hover {
  color: #f67e7e;
}

.warning {
  display: flex;
  width: 1440px;
  height: 200px;
  margin: 0 auto;
  background: #f67e7e;
}

.warning__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Groupwarn.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 70%;
  height: 100%;
}

.warning__text--title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.warning__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.warning__button--btn {
  border: 2px solid #012f34;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  background: #f67e7e;
  cursor: pointer;
}

.warnank {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #012f34;
}

.warning__button--btn:hover {
  background: #012f34;
  border: 2px solid #012f34;
  border-radius: 24px;
}

.warning__button--btn:hover .warnank {
  color: #ffffff;
}

.footer {
  display: flex;
  width: 1440px;
  height: 200px;
  margin: 0 auto;
  background: #002529;
}

.footer__half1 {
  display: flex;
  width: 65%;
  height: 100%;
}

.footer__half1--links {
  width: 70%;
  height: 100%;
}

.footer__half1--info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.footer__half2 {
  width: 35%;
  height: 100%;
}

.footer__half2--logos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.footer__half2--copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.info {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  width: 200px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.links {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.a {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  line-height: 28px;
  color: #ffffff;
}

.a:hover {
  color: #f67e7e;
}

.ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.footerlogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;
}

.footerlogos__item {
  list-style: none;
  cursor: pointer;
}

.copyright {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

svg:hover > path {
  fill: #f67e7e;
}

.header__hero {
  display: flex;
  width: 100%;
  height: 80%;
}
.header__hero--about {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  height: 100%;
}
.header__hero--pretitle {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  background-image: url(../about.img/about8.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__ct {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 80%;
  height: 50%;
}
.hero__ct--title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.ct__about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 30%;
}
.ct__about--pretitle {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  width: 640px;
  color: #ffffff;
}

.stick {
  position: absolute;
  top: -60px;
  background: #f67e7e;
  width: 50px;
  height: 4px;
}

.section {
  margin: 0 auto;
  width: 1440px;
  height: 1000px;
  background: #004047;
}
.section__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  background-image: url(../about.img/circle.png);
  background-repeat: no-repeat;
}
.section__text--title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.section__people {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-image: url(../about.img/square.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.pct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 80%;
  border: 1px solid #fff;
}
.pct__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 40%;
  background: #012f34;
}
.pct__list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.s-title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}

.s-pretitle {
  font-family: "Livvic";
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.sec-pretitle {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  width: 230px;
  text-align: center;
  color: #ffffff;
}

svg {
  margin: 8px 0;
}

svg:hover > path {
  fill: #f67e7e;
}

.ctl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 100%;
}

.main {
  width: 1440px;
  height: 437px;
  margin: 0 auto;
  background-color: #012f34;
}
.main__text {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.main__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.main__text--title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.main__img {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.main__img--ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}

/*# sourceMappingURL=about.css.map */
